body
{
    font-family: 'Playfair Display', serif;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
a
{
  
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding: 30px;
    font-weight: bold;
    font-size: 18px;
}
h1
{
    font-size: 75px;
    padding: 0%;
   

}
h2
{
    font-size: 30px;
}
img
{
    width: 80%;
}
p{
    font-size: 22px;
}
section
{
    margin-top: 5%;
    height: 600px;
}
.text-highlight1
{
    color: coral;
}
.text-highlight2
{
    color: orange
}
.Nvbar
{
    margin-left: 68%;
    margin-top: 4%;
   
}
.half_width
{
    width: 40%;
    float: left;
    margin-left: 8%;
}
.button
{
    font-weight: bold;
    padding: 12px 22px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    color: green;
}

.icon
{
    height: 20px;
    width: 25px;
    color: white;
}
.half_width h1
{
    color: teal;
}
#Text_allignment
{
    text-align: center;
}
.thirdHalf_with
{
    width: 25%;
    float: left;
    margin-left: 6%;
    height: 80%;
    padding: 10px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
    border-left: 4px solid blue;
    border-bottom:4px solid black;
}
.thirdHalf_with p
{
  color: gray;
}


.section_fifth
{
    margin-left: 20%;
}
.section_fifth h1
{
    margin-top: -7%;
    margin-left: 13%;
    color: white;
    

}
.section_fifth p
{
    margin-top: -12%;
    margin-left: 63%;
    color: white;
    

}

.Last_Section
{
    text-align: center;

}
.Last_Section span
{
  font-size: 30px;
  color: darkgreen;
    
}
.icon_size
{
    height: 45px;
    width: 50px;
    margin-left: -3%;
    
}
.icon_section
{
    margin-left: 44%;
}
.container {
    width: 30%;
    background-color: #ddd;
    margin-left: 20%;
    border-radius: 15px;
  }

  .html {
      width: 10%; 
      background-color: green
       
    }
  .skillh1
  {
      margin-left: 20%;
      font-size: 30px;
      color:darkgreen; 
      
  }
