body
{
    font-family: 'Playfair Display', serif;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
a
{
  
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding: 30px;
    font-weight: bold;
    font-size: 18px;
}
h1
{
    font-size: 75px;
    padding: 0%;
   

}
h2
{
    font-size: 30px;
}
img
{
    width: 80%;
}
p{
    font-size: 22px;
}
section
{
    margin-top: 5%;
    height: 600px;
}
.text-highlight1
{
    color: coral;
}
.text-highlight2
{
    color: orange
}
.Nvbar
{
    margin-left: 68%;
    margin-top: 4%;
   
}
.half_width
{
    width: 40%;
    float: left;
    margin-left: 8%;
}
.button
{
    color:black;
    font-weight: bold;
    padding: 18px 35px;
    border: 10px;
    background-image: linear-gradient(30deg,white, rgb(119, 0, 255));
    border-radius: 12px;
    font-size: 20px;
    box-shadow: 5px 10px 20px gray; 
}
.icon
{
    height: 20px;
    width: 25px;
    color: white;
}
.half_width h1
{
    color: teal;
}
#Text_allignment
{
    text-align: center;
}
.thirdHalf_with
{
    width: 25%;
    float: left;
    margin-left: 6%;
    height: 80%;
    padding: 10px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
    border-left: 4px solid blue;
    border-bottom:4px solid black;
}
.thirdHalf_with p
{
  color: gray;
}


.section_fifth
{
    margin-left: 20%;
}
.section_fifth h1
{
    margin-top: -14%;
    margin-left: 6%;
    color: white;
    

}
.section_fifth button
{
   margin-top: -40%;
    margin-left: 65%;
   color: white;
   background-image: linear-gradient(black, blue);
   padding: 10px 25px;
}
.Last_Section
{
    text-align: center;

}
.Last_Section span
{
  font-size: 30px;
  color: darkgreen;
    
}
.image_size
{
    height: 45px;
    width: 50px;
    margin-left: -3%;
    
}
.image_section
{
    margin-left: 44%;
}
